@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display";
  font-weight: 500;
}

body {
  background: #fff;
  color: #333;
  line-height: 1.6;
  background-color: rgb(248, 255, 239);
}

h1 {
  font-size: 48px;
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 900
}

.buttonBlock {
  display: block;
}

/* Home */
#homeGrid {
  display: grid;
  grid-template-columns: repeat(2, 50%)
}

.homePhoto {
  width: 50%;
}

/* New item/project forms */
#newProjectContentContainer,
#newItemContentContainer {
  margin-top: 20px;
}

#newItemForm,
#newProjectForm {
  margin-left: 10px;
}

.itemLabel,
.projectLabel {
  display: block;
  margin-top: 10px;
}

.itemTextarea,
.projectTextarea {
  width: 35rem;
  height: 100px;
}

#newItemSubmitButton,
#newProjectSubmitButton {
  display: block;
  padding: 3px 5px;
  font-weight: 600;
}

.italic {
  font-style: italic;
  color: grey;
  display: none;
}

#uploadedImage {
  width: 200px;
}

.newItemInputField {
  width: 400px;
}

.skinnyLI {
  display: inline;
}

/* All Items/Projects */
#allProjectsContainer,
#allItemsContainer {
  margin: 10px;
}

.allProjectsItem {
  padding: 10px;
  border: 1px solid black;
}

.allProjectsPhoto {
  width: 200px;
}

.allItemsItemContainer {
  border: 1px solid black;
  margin: 10px;
}

.allItemsItem {
  display: flex;
  justify-content: left;
}

.allItemsDetails {
  width: 42%;
  padding-left: 10px;
}

.allItemsImage {
  width: 150px;
}

.allItemsMoreDetailsButton, .allProjectsMoreDetailsButton {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  align-self: flex-end;
  font-weight: 600;
  margin: 10px;
}

.allItemsRightColumn {
  width: 58%;
  display: flex;
  justify-content: space-between;
}

#allProjectsContainer img {
  display: block;
  margin: auto;
}

/* Project Details */
.projectDetailsContainer {
  margin-top: 25px;
  display: flex;
  justify-content: left;
}

.projectImage {
  width: 95%;
  max-width: 450px;
}

.projectDetailsLeftColumn {
  padding-left: 10%;
  width: 45%;
}

.projectDetailsRightColumn {
  width: 53%;
}

.projectDetailsRightColumnSplitter {
  display: flex;
  justify-content: left;
}

.pdrl {
  width: 45%;
  min-width: 100px;
  max-width: 300px;
  padding-left: 10%;
}

.pdrr {
  width: 60%;
}

.projectDescription {
  text-align: center;
}

/* Item Details */
.itemDetailsContainer {
  margin: 25px;
  margin-bottom: 75px;
}

.itemImage {
  width: 250px;
}

.itemDetailsUL {
  padding-left: 25px;
}

.itemDetailsAddBtn {
  margin-left: 5px;
}

#foundProjectImage, #foundItemImage {
  width: 80px;
}