@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display";
  font-weight: 500;
}

body {
  background: #fff;
  color: #333;
  line-height: 1.6;
  background-color: rgba(118, 214, 107, 0.04);
}

h1 {
  font-size: 48px;
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.buttonBlock {
  display: block;
}

/* Navbar */
.navbar {
  display: flex;
  margin: 5px;
  flex-direction: row;
  justify-content: space-between;
}

.navLink {
  font-weight: 600;
  padding: 10px;
}

.navLink:hover {
  font-weight: 900;
}

.navFlexHolder {
  width: 170px;
  text-align: center;
}

#navbarUL {
  padding: 10px 0px;
  border: 1px solid black;
}

.greenBackground {
  background-color: rgba(107, 214, 193, 0.116);
}

.darkGreenBackground {
  background-color: rgba(107, 214, 193, 0.751);
}

.pinkBackground {
  background-color: rgba(238, 141, 199, 0.751);
}

.yellowBackground {
  background-color: rgba(107, 214, 193, 0.055);
}

/* Home */
#homeGrid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.homePhoto {
  width: 50%;
}

/* New item/project forms */
#newProjectContentContainer,
#newItemContentContainer {
  margin-top: 20px;
}

#newItemForm {
  margin-left: 10px;
}

.projectLabel {
  display: block;
  margin-top: 10px;
}

.itemTagsContainer {
  display: flex;
  justify-content: left;
}

.itemTextarea {
  height: 50px;
  max-width: 600px;
  min-width: 300px;
}

.height100 {
  height: 100px;
}

#newItemSubmitButton,
#newProjectSubmitButton {
  display: block;
  padding: 3px 5px;
  font-weight: 600;
}

.italic {
  font-style: italic;
  color: grey;
  display: none;
}

#uploadedImage {
  width: 200px;
}

.newItemInputField {
  width: 400px;
}

/* All Items/Projects */
#allProjectsContainer,
#allItemsContainer {
  margin: 10px;
}

.allProjectsItem {
  padding: 10px;
  border: 1px solid black;
}

.allProjectsItem:hover,
.allItemsItemContainer:hover {
  background-color: rgba(221, 186, 224, 0.19);
}

.allProjectsPhoto {
  width: 200px;
}

.allItemsItemContainer {
  border: 1px solid black;
  margin: 10px;
}

.allItemsItem {
  display: flex;
  justify-content: left;
}

.allItemsDetails {
  width: 42%;
  padding-left: 10px;
}

.allItemsImage {
  width: 150px;
  margin-bottom: 10px;
}

.moreDetailsButton {
  /* ~currently unused */
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  align-self: flex-end;
  font-weight: 600;
  margin: 10px;
}

.allItemsRightColumn {
  width: 58%;
}

#allItemsFilterBar,
#allProjectsFilterBar {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

#allProjectsContainer img {
  display: block;
  margin: auto;
}

/* Project Details */
.projectDetailsContainer {
  margin-top: 25px;
  display: flex;
  justify-content: left;
}

.projectImage {
  width: 95%;
  max-width: 450px;
}

.projectDetailsLeftColumn {
  padding-left: 10%;
  width: 45%;
}

.paddingL10P {
  padding-left: 10%;
}

.pdrl {
  min-width: 50px;
  max-width: 300px;
}

.projectDescription {
  text-align: center;
}

/* Item Details */
.itemDetailsContainer {
  margin: 25px;
  margin-bottom: 75px;
}

.itemImage {
  min-width: 150px;
  width: 45%;
  max-width: 500px;
  min-height: 100px;
  max-height: 600px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.itemProjectsLI {
  font-size: 2rem;
}

.itemDetailsAddBtn {
  margin-left: 5px;
}

#foundProjectImage,
#foundItemImage {
  width: 80px;
}

#itemImageLargeDiv {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -6%);
  display: none;
  z-index: 1;
}

.itemImageLarge {
  max-height: 80vh;
  max-width: 85vw;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.blur {
  filter: blur(5px);
  /* ? what is all this crap */
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.boldPointer {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 2%;
  color: white;
}

.close {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Black_close_x.svg/1200px-Black_close_x.svg.png");
  background-size: contain;
  width: 20px;
  height: 20px;
}

.itemReview {
  margin-top: 5px;
  padding: 10px 0px 10px 35px;
  max-height: 100px;
  overflow-y: auto;
}

.borderRadius20 {
  border-radius: 20px;
}

.justBold {
  font-weight: bold;
}

.smallH1 {
  margin: 13px 0px 3px 0px;
  font-size: xx-large;
}

.itemTypeHeader {
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
}

.itemDescription {
  max-width: 600px;
}

.minWidth250 {
  min-width: 250px;
}

.boxShadow {
  box-shadow: 0px 0px 10px rgba(107, 214, 193, 0.225);
}

.itemDescriptionUL {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

.itemDescription ::marker {
  color: rgba(172, 185, 111, 0.226);
}

.displayInline {
  display: inline;
}

.displayBlock {
  display: block;
}

.tempBorder {
  /* border: 1px solid rgb(234, 234, 234); */
}

.lightBorder {
  border: 1px solid rgba(199, 255, 198, 0.636);
}

.itemRightColumnThird {
  display: flex;
  justify-content: space-around;
}

.rightSideBox {
  width: 45%;
  margin: 10px;
}

.width100 {
  width: 100%;
}

.width85 {
  width: 85%;
}

.width75 {
  width: 75%;
}

.width70 {
  width: 70%;
}

.width60 {
  width: 60%;
}

.width50 {
  width: 50%;
}

.width45 {
  width: 45%;
}

.width40 {
  width: 40%;
}

.width30 {
  width: 30%;
}

.width20 {
  width: 20%;
}

.width10 {
  width: 10%;
}

.width400 {
  width: 400px;
}

.height50 {
  height: 50%;
}

.addNoteBox {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.itemImageLeftColumn {
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline;
}

.flexRow {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.spaceAround {
  justify-content: space-around;
}

.underlined {
  text-decoration: underline;
}

.alignItemsCenter {
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

.margin10 {
  margin: 10px 0px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.pink {
  background-color: pink;
}

.justifyCenter {
  justify-content: center;
}

.marginAuto {
  margin: auto;
}

.marginRight20 {
  margin-right: 20px;
}

.marginLeft20 {
  margin-left: 20px;
}

.marginLeft10 {
  margin-left: 10px;
}

.marginLeft5 {
  margin-left: 5px;
}

.marginLeft10P {
  margin-left: 10%;
}

.marginLeft25P {
  margin-left: 25%;
}

.marginLeft100 {
  margin-left: 100px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.marginTop10 {
  margin-top: 10px;
}

.padding20 {
  padding: 20px;
}

.padding1020 {
  padding: 10px 20px;
}

.padding52 {
  padding: 5px 2px;
}

.padding13 {
  padding: 1px 3px;
}

.borderNone {
  border: none;
}

.borderRadiusLight {
  border-radius: 4px;
}

.borderLight {
  border: 0.5px solid rgba(157, 160, 255, 0.152);
}

.standardBackground {
  background-color: rgb(248, 255, 239);
}

.textAlignRight {
  text-align: right;
}

.textAlignCenter {
  text-align: center;
}

.deleteButtonDiv {
  min-width: 250px;
  max-width: 300px;
}

.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.textCenter {
  text-align: center;
}

.cursorPointer {
  cursor: pointer;
}

.marginTop20 {
  margin-top: 20px;
}

.maxWidth750 {
  max-width: 750px;
}

.width500 {
  width: 500px;
}

.height20 {
  height: 20px;
}

.alignSelfCenter {
  align-self: center;
}

.simpleBorder {
  border: 2px solid rgba(221, 186, 224, 0.19);
}