/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

/* New item/project forms */
#newItemForm, #newProjectForm {
  margin-left: 10px;
}

.itemLabel, .projectLabel {
  display: block;
}

.itemTextarea, .projectTextarea {
  width: 35rem;
  height: 100px;
}

#newItemSubmitButton, #newProjectSubmitButton {
  display: block;
}

.italic {
  font-style: italic;
  color: grey;
  display: none;
}

#projectImage {
  width: 100px;
}

/* All Items/Projects */
#allProjectsContainer, .allItemsContainer {
  margin: 10px;
}

.allProjectsItem, .allItemsItem {
  border: 1px solid black;
}

/* Project Details */
.projectImage, .itemImage {
  width: 500px;
}